<h1>新しい投稿</h1>

<div class="form-container">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with model: @post, html: {class: "form-container"} do |f| %>
  <div class="form-input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-input">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="button-container"><%= f.submit "投稿",class: "link-button" %></div>
<% end %>